.whole-page {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game-board {
    width: 90vh;
    height: 90vh;
    border: 1px solid black;
    border-radius: 2px;
    background-image: url('./Dao_Niger_Valles_co_xl.jpg');
}
.row {
    width: 100%;
    height: 20%;
    display: flex;
}
.col {
    border: 1px dotted grey;
    height: 100%;
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* .row:first-child > .col:first-child {
    background-image: url("./rover.gif");
    background-size: 150px;
    background-repeat: no-repeat;
} */
#rover {
    height: 17vh;
    width: 17vh;
}
